@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 1.25rem;
    overflow: hidden;
}

img{
    max-width: 100%;
}

.main{
    background-color: hsl(0, 0%, 100%);
    border-radius: 17px;
    box-shadow: 0px 0px 85px rgba(0,0,0,0.2);
    padding: 0.85rem;
    margin-bottom: 15px;
}

.main img{
    border-radius: 10px;
}

.main h2{
    text-align: center;
}

.main p{
    text-align: center;
    color: hsl(220, 15%, 55%);
    padding: 0 0.75rem;
    margin-bottom: 25px;
}

@media (min-width:400px) {
    .main{
        width: 275px;
    }
}